name: Docker Image CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: docker build . --file front/Dockerfile --tag front:$(date +%s)
    
  api:
    runs-on: ubuntu-latest
    steps:
    - name: Build the Docker image (FastAPI)
      run: docker build . --file fastapi/Dockerfile --tag fastapi:$(date +%s)
